html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #888;
}

.wrapper {
  width: 100%;
}

.user-menu {
  padding: 10px 20px;
  height: 20px;
}

.user-menu a {
  font-size: 1.2em;
  font-weight: 300;
}

.primary {
  float: left;
}

.secondary {
  float: right;
}

.nav {
  text-align: center;
  padding: 1em;
}

.nav li {
  display: inline;
  margin: 0 2em;
}

.nav li a {
  font-size: 1.2em;
}

.title {
  text-align: center;
  font-size: 5.0em;
  font-weight: 100 !important;
}

.slogan {
  display: none;
  text-align: center;
}

#map-canvas {
  height: 500px;
}

.controls {
  margin-top: 16px;
  border: 1px solid #4d90fe;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
}

#pac-input {
  margin-left: 16px;
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  margin-left: 16px;
  border-color: #000;
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
